.icon {
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -999em;
    overflow: hidden;
    background-size: cover;
    /*공통*/
    &.ico_account_btn {
        cursor: pointer;
        background-image: url("../img/icon/ico_account_btn.png");
        width: 32px;
        height: 32px;
    }
    &.ico_logout {
        cursor: pointer;
        background-image: url("../img/icon/ico_logout.png");
        width: 20px;
        height: 20px;
    }
    &.ico_alert_gray {
        background-image: url("../img/icon/ico_alert_gray.png");
        width: 16px;
        height: 15px;
    }
    &.ico_alert_red {
        cursor: pointer;
        background-image: url("../img/icon/ico_alert_red.png");
        width: 20px;
        height: 20px;
    }
    &.ico_setting {
        cursor: pointer;
        background-image: url("../img/icon/ico_setting.png");
        width: 20px;
        height: 20px;
    }
    &.ico_select_arrow_down {
        background-image: url("../img/icon/ico_select_arrow_down.png");

        width: 35px;
        height: 33px;
    }
    &.ico_select_arrow_up {
        background-image: url("../img/icon/ico_select_arrow_up.png");
        width: 35px;
        height: 33px;
    }
    &.ico_alert_white_gray {
        background-image: url("../img/icon/ico_alert_white_gray.png");
        width: 13px;
        height: 13px;
    }
    &.ico_pagination_left_arrow {
        background-image: url("../img/icon/ico_pagination_left_arrow.png");
        //background-image: url("../img/icon/ico_pagination_left_arrow.png");
        width: 24px;
        height: 24px;
        cursor: pointer;
    }
    &.ico_pagination_right_arrow {
        background-image: url("../img/icon/ico_pagination_right_arrow.png");
        //background-image: url("../img/icon/ico_pagination_right_arrow.png");
        width: 24px;
        height: 24px;
        cursor: pointer;
    }
    &.ico_pagination_left_arrow_first {
        background-image: url("../img/icon/ico_pagination_left_arrow_first.png");
        width: 24px;
        height: 24px;
    }
    &.ico_pagination_right_arrow_last {
        background-image: url("../img/icon/ico_pagination_right_arrow_last.png");
        width: 24px;
        height: 24px;
    }
    &.ico_right_arrow_gary {
        background-image: url("../img/icon/ico_right_arrow_gary.png");
        width: 10px;
        height: 25px;
    }
    &.ico_calender {
        background-image: url("../img/icon/ico_calender.png");
        //background-image: url("../img/icon/ico_calender.png");
        width: 30px;
        height: 30px;
    }
    &.ico_member_join {
        background-image: url("../img/icon/ico_member_join.png");
        //background-image: url("../img/icon/ico_member_join.png");
        width: 20px;
        height: 20px;
    }
    &.ico_checkBox {
        background-image: url("../img/icon/ico_checkbox.svg");
        width: 20px;
        height: 20px;
        background-size: 20px 80px;
    }

    /*개발자 센터*/
    &.ico_book_alt {
        background-image: url("../img/icon/ico_book_alt.png");
        width: 16px;
        height: 16px;
    }
    &.ico_book_alt_active {
        background-image: url("../img/icon/ico_book_alt_active.png");
        width: 16px;
        height: 16px;
    }
    &.ico_document_sign {
        background-image: url("../img/icon/ico_document_sign.png");
        width: 16px;
        height: 16px;
    }
    &.ico_document_sign_active {
        background-image: url("../img/icon/ico_document_sign_active.png");
        width: 16px;
        height: 16px;
    }
    &.ico_github {
        background-image: url("../img/icon/ico_github.png");
        width: 16px;
        height: 16px;
    }
    &.ico_github_active {
        background-image: url("../img/icon/ico_github_active.png");
        width: 16px;
        height: 16px;
    }
    &.ico_interrogation {
        background-image: url("../img/icon/ico_interrogation.png");
        width: 16px;
        height: 16px;
    }
    &.ico_interrogation_active {
        background-image: url("../img/icon/ico_interrogation_active.png");
        width: 16px;
        height: 16px;
    }
    &.ico_key {
        background-image: url("../img/icon/ico_key.png");
        width: 16px;
        height: 16px;
    }
    &.ico_key_active {
        background-image: url("../img/icon/ico_key_active.png");
        width: 16px;
        height: 16px;
    }
    &.ico_paper_plane {
        background-image: url("../img/icon/ico_paper_plane.png");
        width: 16px;
        height: 16px;
    }
    &.ico_paper_plane_active {
        background-image: url("../img/icon/ico_paper_plane_active.png");
        width: 16px;
        height: 16px;
    }
    &.ico_shield_check {
        background-image: url("../img/icon/ico_shield_check.png");
        width: 16px;
        height: 16px;
    }
    &.ico_shield_check_active {
        background-image: url("../img/icon/ico_shield_check_active.png");
        width: 16px;
        height: 16px;
    }
    &.ico_copy {
        background-image: url("../img/icon/ico_copy.png");
        width: 46px;
        height: 46px;
    }
    &.ico_copy_active {
        background-image: url("../img/icon/ico_copy_active.png");
        width: 46px;
        height: 46px;
    }
    &.ico_trashcan {
        background-image: url("../img/icon/ico_trashcan.png");
        width: 32px;
        height: 32px;
        cursor: pointer;

        &:hover {
            background-image: url("../img/icon/ico_trashcan_active.png");
        }
    }
    &.ico_excel {
        background-image: url("../img/icon/ico_excel.png");
        width: 32px;
        height: 32px;
        cursor: pointer;

        &:hover {
            background-image: url("../img/icon/ico_excel_active.png");
        }
    }
    &.ico_yes {
        background-image: url("../img/icon/ico_yes.png");
        width: 18px;
        height: 18px;
    }
    &.ico_no {
        background-image: url("../img/icon/ico_no.png");
        width: 18px;
        height: 18px;
    }
    &.ico_restart {
        background-image: url("../img/icon/ico_restart.png");
        //background-image: url("../img/icon/ico_restart.png");
        width: 26px;
        height: 26px;
        cursor: pointer;
    }
    &.ico_close_btn {
        cursor: pointer;
        background-image: url("../img/icon/ico_closeBtn.png");
        width: 30px;
        height: 30px;
        @include res-sm {
            width: 24px;
            height: 24px;
        }
    }
    &.ico_radioBox {
        background-image: url("../img/icon/ico_radiobox.svg");
        width: 20px;
        height: 20px;
        background-size: 20px 60px;
    }
}
